name: Auto Tag

on:
  push:
    branches:
      - main

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create Tag
        run: |
          VERSION=$(date +"%Y.%m.%d.%H%M")
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git tag -a "v$VERSION" -m "Automated tag"
          git push origin "v$VERSION"
